/*Elementos generales*/
*{
    margin:0;
    padding:0;
}

body{
    background-color: #1B1B1B;
    color: #F5F6FA;
    font-family: "Open Sans", sans-serif;
}

nav{
    background-color: #1B1B1B;
    padding-left: 50px;
    max-height: 50px;
    width: 100%;
    position:fixed;
    left:0px;
    top:0px;
}

nav ul{
    height: 50px;
}

nav ul li{
    float: left;
    padding: 14px 0px 14px 0px;
}

nav ul li:hover{
    background-color: black;
}

header{
    margin: 0px 50px 0px 50px;
    padding: 10px 100px 10px 100px;
}

section{
    margin: 0px 50px 0px 50px;
    padding: 50px 100px 10px 100px;
    border-top: 1px solid #242424;
    border-left: 1px solid #242424;
    border-right: 1px solid #242424;
}

h1{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-size: 70px;
    text-align: center;
    margin: 10px;
}

p{
    margin-bottom: 10px;
    font-weight: 100;
}

strong{
    font-style: normal;
}

cite{
    font-weight: 500;
    font-style: normal;
}

i{
    font-size: 45px;
}

i:hover{
    color:#00A8FF;
    font-weight: bold;
}

a:any-link{
    text-decoration: none;
    color:#F5F6FA;
}

a:-webkit-any-link{
    color:#F5F6FA;
}

a:-moz-any-link{
    color:#F5F6FA;
}

ul{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
    margin-right: 22px;
}

/*Clases e id's*/
.section-title{
    color: #ffe65d;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
}

.nav-item{
    padding-right: 30px;
    padding-left: 30px;
    margin:0;
}

#socialmedia{
    margin-top: 20px;
    text-align: center;
}

#inicio{
    margin: 40px 0px 80px 0px;
    padding: 100px 0px 100px 0px;
    background-color: #262626;
}

#sobremi{
    display: flex;
    align-items: center;
}

#sobremi-image{
    margin: 40px;
    padding: 40px;
}

#sobremi-text{
    margin:20px;
    padding:20px;
}

#sobremi-title{
    text-align: left;
    margin-bottom: 20px;    
}

#proyectos-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 50px;
    padding: 50px;
}

.card{
    width: 400px;
    border-radius: 10%;
    background-color: #262626;
}

.card-header{
    text-align: center;
}

.card img{
    width: 300px;
    border-radius: 10%;
    margin: 40px 20px 10px 20px;
}

.card h3{
    font-size: 30px;
}

.card button, .card p, .technologies{
    margin: 10px 40px;
}

.card button{
    background-color:#00A8FF;
    border-radius: 10%;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bold;
    width: 120px;
}