/*Elementos generales*/
*{
    margin:0;
    padding:0;
}

body{
    background-color: #1B1B1B;
    color: #F5F6FA;
    font-family: "Open Sans", sans-serif;
}

h1{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-size: 70px;
    text-align: center;
    margin: 10px;
}

p{
    font-weight: 100;
}

strong{
    font-style: normal;
}

cite{
    font-weight: 500;
    font-style: normal;
}

i{
    font-size: 45px;
}

i:hover{
    color:#00A8FF;
    font-weight: bold;
}

a:any-link{
    color:#F5F6FA;
}

a:-webkit-any-link{
    color:#F5F6FA;
}

a:-moz-any-link{
    color:#F5F6FA;
}

li{
    float: left;
    margin-right: 22px;
}

/*Clases e id's*/
.section-title{
    color: #ffe65d;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
}

#socialmedia{
    margin-top: 20px;
    margin-left: 60px;
    list-style: none;
}

.section{
    margin: 0px 50px 0px 50px;
    padding: 10px 100px 10px 100px;
    border-top: 1px solid #242424;
    border-left: 1px solid #242424;
    border-right: 1px solid #242424;
}

#inicio{
    margin: 0px 0px 20px 0px;
    padding: 100px 0px 100px 0px;
    background-color: #262626;
}